body{
    background-color: gray;
    padding-top:3rem;      /*DIV ESTA DENTRO DA TEG BODY*/
    padding: 3rem;
}

div#temporada{
    margin: 30px;
    padding:10px;
    background-color: white;
    background-image: url(../atividade_f1/imagens/fundo-f1.jpg);
    background-repeat: repeat-y;
    background-position: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif; 
    background-attachment: fixed;
}

div#temporada img.imagem{
    width: 100%;
    padding: 5px;
    position: relative;
    margin-left: -5px;
}

hr{
    border-bottom: #808080d8 1px solid;
    margin-top:-0.5rem;
}

hr.aux1{
    width: 1rem; /*LARGURA DA LINHA HORIZONTAL(<hr>)*/
    margin-left: 0.01rem; /*DISTÂNCIA DA LINHA HORIZONTAL(<hr>) EM RELAÇÃO À MARGEM ESQUERDA DO CONTEINER.*/
    height: 1.5rem;
    background-color: gray;  
    margin-top: -2.5rem;
}


img.bandeira-temporada{
    position: absolute;
    margin-left: 69.4rem; /*MUDAR  PARA ESQUERDA A BANDEIRA-TEMPORADA*/
    margin-top:-2.6rem; 
}

nav#menu-inicial{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-top: -1rem;
}

nav#menu-inicial ul{
    list-style:none;
    line-height: 1.7rem;
}

p.texto1{
    margin-top: -0.5rem;
    text-align:justify;
    line-height: 1.8rem;
}

nav#paragrafo{
    text-indent: 3rem;
    word-spacing: 0.5rem;

}

/*LINKS*/
a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    
    color:black;
}

a:hover{
    color:#d4d117d3;
    text-decoration:underline;
}

/*TABELA EQUIPES*/
table.tabela-equipes{
    text-indent: 1.4rem;
    width:50%;
}

table.tabela-equipes td{
    border-bottom: gray dotted 0.1rem;
    line-height: 30px;
}



/*POSICAO DAS BANDEIRAS DOS PAÍSES*/
img.reinounido{
    position: absolute;
    margin-left: 0.3rem;
    margin-top:0.75rem;
}

img.italia{
    position: absolute;
    margin-left: 0.3rem;
    margin-top:2.9rem;
}

img.alemanha{
    position: absolute;
    margin-left: 0.3rem;
    margin-top: 5.2rem;
}

img.franca{
    position: absolute;
    margin-left: 0.3rem;
    margin-top: 7.3rem;
}

img.japao{
    position: absolute;
    margin-left: 0.3rem;
    margin-top: 9.6rem;
}

img.italia-tororosso{
    position: absolute;
    margin-left: 0.3rem;
    margin-top: 11.8rem;
}

img.austria{
    position: absolute;
    margin-left: 0.3rem;
    margin-top: 14rem;
}

img.reinounido-at{
    position: absolute;
    margin-left: 0.3rem;
    margin-top: 16.4rem;
}

img.india{
    position: absolute;
    margin-left: 0.3rem;
    margin-top: 18.4rem;
}

img.reinounido-brawn{
    position: absolute;
    margin-left: 0.3rem;
    margin-top: 20.8rem;
}

table.tabela-pilotos{
    width: 50%;
}

table.tabela-pilotos th, td{
     border-bottom: gray dotted 0.1rem;
     text-align: start;
}

p.f1{
    text-indent: 2rem; /* Identação da primeira linha do parágrafo*/
    word-spacing: 1rem;
    line-height: 2rem;
    text-align: justify;
}

ol.lista-links{
    line-height: 2rem;
}
