*{
    border: 0px;
    margin: 0px;
}


body{
    background-color: gray;
    padding-top:20px;
    padding: 38px;
}

div#corpo{
    margin: 30px;
    padding:10px;
    background-color: red;
    background-image: url(../atividade_f1/imagens/fundo-f1.jpg);

}

div#corpo img.imagem{
    width: 90%;
    padding: 5px;
    position: relative;
    margin-left: 57px;
}